:80 {
    bind 0.0.0.0
    gzip
    root /opt/www_cultivo_earth/
    log stdout
    git {
        repo https://github.com/cultivo/www_cultivo_earth.git
        branch production
        hook /webhook "test9278"
        hook_type generic
        key /root/.ssh/id_rsa
        path /opt/www_cultivo_earth/
        }
}
