:80 {
    bind 0.0.0.0
    gzip
    root /opt/websites/
    log stdout
    git {
        repo https://github.com/cultivo/www_cultivo_earth.git
        branch master
        hook /webhook "test9278"
        hook_type generic
        key /opt/websites/id_rsa
        path /opt/websites/
        then sh /opt/scripts/startup.sh
    }
}
